<!DOCTYPE html>
<html>
<head>
    <title>Driver Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ driver.user.username }}</h1>

    <h2>Your Assigned Deliveries</h2>

    {% if assignments %}
        <ul>
            {% for assign in assignments %}
                <li>
                    Order ID: {{ assign.order_id.order_id }} <br>
                    Status: {{ assign.status }} <br>
                    Price: ${{ assign.choosen_price }} <br>

                    {% if assign.status != "DELIVERED" %}
                        <a href="{% url 'delivery:mark_delivered' assign.assignment_id %}">
                            Mark as Delivered
                        </a>
                    {% else %}
                        <strong>Delivered ✔</strong>
                    {% endif %}
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No assigned deliveries yet.</p>
    {% endif %}
</body>
</html>
